<a href="https://colab.research.google.com/github/NIKHIL-SEKHAR/AI_ML_COURSE_ICTAK_NIKHIL/blob/main/Manappuram_python_assign1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Python Practice Problems – (Variables,Operators, Strings, Lists, Tuples)

#1. A financial analyst stores monthly revenues in a list: [120000, 135000, 128000,142000, 150000].
#Find the difference between the highest and lowest revenue without using loops.

Revenue_list = [120000, 135000, 128000,142000, 150000]
Revenue_list.sort()
Difference = Revenue_list[-1]-Revenue_list[0]
print(Difference)

30000

In [ ]:
#2. Given the tuple account = ('Asha', 'Savings', 56000, 'KCH'), unpack the values into
#separate variables and print a formatted string: 'Asha has ₹56000 in her Savings account (Branch: KCH)'.

account = ('Asha', 'Savings', 56000, 'KCH')
Name = account[0]
Acc_type = account[1]
Balance_amount = account[2]
Branch_name = account[3]
print(f'{Name} has ₹{Balance_amount} in her {Acc_type} account (Branch: {Branch_name})')

Asha has ₹56000 in her Savings account (Branch: KCH)

In [ ]:
#3. Convert the list of string numbers ['45000', '56000', '38000'] to integers and find their average balance

List_of_numbers = ['45000', '56000', '38000']
New_list = [int(i) for i in List_of_numbers]
Count = len(New_list)
Total_sum = New_list[0]+New_list[1]+New_list[2]
Average = Total_sum/Count
print(Average)
#New_list = list(map(int, List_of_numbers))

46333.333333333336

In [ ]:
#4. Create a list with elements: ['Kochi', 'Chennai', 'Mumbai', 'Delhi', 'Pune']. Replace
#'Delhi' with 'Hyderabad' and print the new list in reverse order using slicing

City_list = ['Kochi', 'Chennai', 'Mumbai', 'Delhi', 'Pune']
City_list[3] = 'Hyderabad'
reverse_city_list = City_list[::-1]
print(reverse_city_list)

['Pune', 'Hyderabad', 'Mumbai', 'Chennai', 'Kochi']

In [ ]:
#5. You have two tuples: interest_2024 = (7.1, 7.3, 7.2) and interest_2025 = (7.4, 7.5).
#Combine them and print the average of all interest rates.

t1=(7.1,7.3,7.2)
t2=(7.4,7.5)
t3=sum(t1+t2)/len(t1+t2)
print(f"The average of all interest rates is: {t3:.2f}")

The average of all interest rates is: 7.30

In [ ]:
#6.A string variable branch_id = 'TVM-FIN-2025'. Extract the branch code (first three
# letters) and the year (last four digits)
Branch_id = 'TVM-FIN-2025'
year = Branch_id[-4:]
branch_code = Branch_id[:3]
print("Branch Code:", branch_code)
print("Year:", year)

Branch Code: TVM
Year: 2025

In [ ]:
#7.Create a list transactions = [10000, -2000, 5000, -1500, 3000]. Without using loops,
#find total deposits and withdrawals using list slicing or indexing only.
l1=[10000, -2000, 5000, -1500, 3000]
deposits = l1[0] + l1[2] + l1[4] # [10000, 5000, 3000]
withdrawals = -(l1[1] + l1[3])   # [-2000, -1500]
print("Total Deposits:", deposits)
print("Total Withdrawals:", withdrawals)

Total Deposits: 18000
Total Withdrawals: 3500

In [ ]:
#8.Given name = 'John Doe' and balance = 72500, print a message in title case stating
#'John Doe has a balance of ₹72500'. Ensure no type errors occur.

Given_Name = 'John Doe'
Balance = 72500
message = f"{Given_Name.title()} has a balance of ₹{Balance:,}"
print(message)

John Doe has a balance of ₹72,500

In [ ]:
#9.A tuple customer = ('Kiran', 'Loan', 80000, 7.5). Calculate and print the total amount
#payable after 1 year if interest is simple interest based on rate 7.5%.

tuple_cust = ('Kiran', 'Loan', 80000, 7.5)
principal = tuple_cust[2]
interest_rate = tuple_cust[3]
time = 1
interest = principal * (interest_rate / 100) * time
total_amount = principal + interest
print(f"The total amount payable after one year is RS:{total_amount:.2f}")

The total amount payable after one year is RS:86000.00

In [ ]:
#10.Create two lists – branches = ['Kochi', 'Chennai', 'Mumbai'] and profits = [120000,
#95000, 134000]. Form a new list of tuples pairing each branch with its profit.

L1 = ['Kochi', 'Chennai', 'Mumbai']
P1 = [120000, 95000, 134000]
New_list = [(L1[0], P1[0]),(L1[1], P1[1]),(L1[2], P1[2])]
print(New_list)

[('Kochi', 120000), ('Chennai', 95000), ('Mumbai', 134000)]

In [ ]:
#11.From a list salaries = [45000, 56000, 38000, 62000, 54000], extract the top three
#salaries using slicing only.

salaries_l1 = [45000, 56000, 38000, 62000, 54000]
salaries_l1.sort()
top_salaries = salaries_l1[-3:]
print(top_salaries)
# salaries.sort(reverse=True)
# top_three_salaries = salaries[:3]

[54000, 56000, 62000]

In [ ]:
#12.Given the tuple exchange_rates = (83.2, 83.1, 83.5, 83.0, 82.9), convert it into a list
#and change the third value to 84.0.

exchange_rate_t1=(83.2,83.1,83.5,83.0,82.9)
list_l1=list(exchange_rate_t1)
list_l1[2]=84.0
print(list_l1)

[83.2, 83.1, 84.0, 83.0, 82.9]

In [ ]:
#13.Combine two lists customer_names = ['Asha', 'John', 'Meera'] and balances = [56000,
#2000, 65000] into a formatted string such as 'Asha:56000, John:72000, Meera:65000' without loops.

l1=['Asha','John','Meera']
l2=[56000,72000,65000]
print(f"{l1[0]}:{l2[0]}, {l1[1]}:{l2[1]}, {l1[2]}:{l2[2]}")

Asha:56000, John:72000, Meera:65000

In [2]:
#14.Given account_info = (Deepa, 'Savings', 98000), use string formatting to print a
#sentence 'Account Holder Deepz has ₹98000 in Savings account'.

l1=('Deepa','Savings',98000)
print(f"Account Holder {l1[0]} has ₹{l1[2]} in {l1[1]} account")

Account Holder Deepa has ₹98000 in Savings account

In [5]:
#15. Create a nested list storing branch names and their monthly collections: [['Kochi',
#[120000, 135000]], ['Chennai', [95000, 110000]]]. Print only the collection of Chennai branch without using loops

l1=['Kochi',[12000,135000]],['Chennai',[95000,110000]]
l2=l1[1][1]
print(f'The collection of chennai branch is {l2}')

The collection of chennai branch is [95000, 110000]